[Unit]
Description=Vitalinux Autoregistration Server (VAS)
After=network.target

[Service]
WorkingDirectory=/usr/lib/vas
ExecStart=/usr/bin/vas
Restart=always
User=_vas
Group=_vas

[Install]
WantedBy=multi-user.target
